.artist-name {
  font-weight: 900;
}

.collapse-tracks {
 color: black;
}

.collapse-tracks:hover {
  color: white;
  font-weight: 700;
  background-color: black;
  padding: 0px 5px;
  border-radius: 10px;
  cursor: pointer;
  
}

html {
  background-color: #282c34bd;
}

.img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.login-link {
  color: black;
  font-size: 30px;
  font-weight: 700;
  border: 2px solid white;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
}

.login-link:hover {
  background-color: #1DB954;
  border: none;
  box-shadow: 0px 10px #282c3465;
}

.login-page {
  display: grid;
  place-items: center;
}

.login-page img {
  max-width: 830px;
  margin: 25px;
}

.mapped-playlists {
  display: flex;
}

.playlist-image {
  width: 100px;
  height: 100px;
  margin: 2px 2px 2px 10px;
}

.playlists {
  max-width: 500px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 5px;
}

.playlist-container {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 35px;
}

.playlist-header {
  max-width: 300px;
  display: inline;
  position: absolute;
  top: 1%;
  right: 1%;
  color: white;
}

.playlist-header:hover {
  color: black;
  margin-bottom: 25px;
}

.playlist-items {
  list-style-type: none;
  text-align: center;
  padding: 5px;
  position: relative;
  top: calc(50% - 15.75px);
}

.playlist-items:hover {
  background-color: #1DB954;
  border-radius: 15px;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.send-tracks {
  color: black;
}

.send-tracks:hover {
  background-color: #1DB954;
  border-radius: 15px;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.song-emphasis {
  font-weight: 900;
  text-decoration: underline;
}

.track-controls {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.track-name {
  font-style: italic;
}

.tracks {
  border: 3px solid black;
  border-radius: 10px;
  margin: 5px;
}

.track-info {
  margin: 5px;
  list-style-type: none;
  text-align: center;
}